body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

img {
    width: 100%;
    max-width: 600px;
    height: 300px;
}

.carousel-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button {
    color: #eee;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}