* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    padding-bottom: 50px;
}

.container {
    max-width: 1140px;
    width: 80%;
    margin: 20px auto;
}

.header {
    color: #333;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

h1 span {
    color: rgb(24, 127, 237);
}

h3 {
    color: rgb(40, 40, 40);
}

.cards {
    width: 100%;
}

.card {
    background-color: rgb(242, 242, 242);
    padding: 10px 30px;
    font-size: 1.1em;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p {
    color: rgb(126, 126, 126);
}

.card-btn {
    width: 20%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
}

.card-btn .bx {
    color: rgb(130, 130, 130);
}

.card-btn .bx:hover {
    color: rgb(24, 127, 237);
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    opacity: 0;
}

.loading.show {
    opacity: 1;
}

.loading span {
    background-color: #555;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: jump 0.7s ease infinite;
}

.loading span:not(:last-child) {
    margin-right: 10px;
}

.circle:nth-of-type(1) {
    animation-delay: 0.2s;
}

.circle:nth-of-type(2) {
    animation-delay: 0.4s;
}
.circle:nth-of-type(3) {
    animation-delay: 0.6s;
}

@keyframes jump {
    0% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(10px);
    }
}
