body {
    background-color: rgb(137, 97, 215);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    position: relative;
}

.box {
    color: rgb(50, 50, 50);
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    text-align: center;
    width: 90%;
    padding: 10px;
    box-shadow: 1px 1px 30px rgba(220, 220, 220, 0.3);
}

button {
    cursor: pointer;
    background-color: rebeccapurple;
    padding: 10px 40px;
    color: #eee;
    border-radius: 15px;
    border: rebeccapurple;
    margin: 10px 0;
    transition: 0.5s;
}

button:hover {
    color: rgb(50, 50, 50);
    border: #000;
    background-color: rgb(223, 221, 221);
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    display: none;
    animation: display 0.3s forwards;
}

.container-modal {
    background-color: #eee;
    text-align: center;
    width: 50%;
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 3%;
}

@keyframes display {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
