* {
    font-family: sans-serif;
    box-sizing: border-box;
}

#container {
    margin: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.img-card {
    width: 100%;
}

.img-card img {
    width: 100%;
    height: 100px;
}

.info-card {
    color: #333;
    text-transform: capitalize;
}
