body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(./img/img1.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
.typing {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    font-size: 3.5rem;
    position: relative;
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    margin-top: 3px;
    margin-left: 5px;
    border-right: 3px solid #fff;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
