body {
    background-color: #e8c740;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container {
    background-color: rgb(237, 237, 237);
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

h1 {
    color: #444;
}

iframe {
    width: 90%;
    max-width: 650px;
    border-radius: 5px;
}

.container .card li {
    display: inline-block;
    cursor: pointer;
}

ul {
    margin: 20px 0;
}

li {
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

li:hover {
    color: #e8c740;
}

.container .card li:not(:last-child) {
    margin-right: 50px;
}

.container .card li:last-child {
    margin-right: 50px;
}

.note {
    margin: 20px 0;
    color: rgb(147, 147, 147);
    font-size: 12px;
}

input {
    border: none;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(147, 147, 147);
    color: rgb(237, 237, 237);
    padding: 10px 15px;
}

input:focus {
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #e8c740;
    color: rgb(237, 237, 237);
}

@media screen and (max-width: 749px) {
    li {
        font-size: 12px;
    }

    .container .card li:not(:last-child) {
        margin-right: 20px;
    }

    .container .card li:last-child {
        margin-right: 20px;
    }
}
