* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

h1 {
    text-align: center;
    color: rgb(65, 65, 65);
    margin-bottom: 30px;
}

.cards {
    width: 80%;
    max-width: 1145px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.card:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.img-card {
    width: 100%;
}

.img-card img {
    width: 100%;
    height: 100px;
}

.info-card {
    color: rgb(65, 65, 65);
    text-transform: capitalize;
}

@media screen and (max-width: 749px) {
    .cards {
        width: 100%;
    }
}
