body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

button {
    background-color: rgb(57, 92, 232);
    color: rgb(237, 237, 237);
    border: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 50px;
    letter-spacing: 1px;
    margin-top: 30px;
    cursor: pointer;
}

button:active {
    position: relative;
    top: 3px;
}

.home {
    background-image: url("https://images.unsplash.com/photo-1507275016429-544fc0875edd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80");
    height: 40vh;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center top;
    background-position: center;
    border-radius: 3px;
}

.home p {
    color: #eee;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 70px 50px 0 50px;
    line-height: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    transition: 0.3s;
}

@media screen and (max-width: 749px) {
    .container {
        justify-content: flex-start;
    }

    .home {
        width: 80%;
    }
}
